<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>cjp.com.MythConf26</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MythConf26</string>
			</array>
		</dict>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Myth Con</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>mith con</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Myth Conference</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>mith conference</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>iOSDevUK</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>i o s dev u k</string>
		</dict>
	</array>
</dict>
</plist>
